
.bap-sub-header__container{
  background: white;
  padding-left: 25px;
  padding-right: 25px;
  display:flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
  position: fixed;
  width: 100%;
  z-index: 1;

  @media only screen and (max-width: 1022px) {
    display: none;
  }
}

.bap-sub-header__container p{
  margin-bottom: 0px;
  padding-bottom: 35px;
}

.bap-sub-header_left-side {
  width: 60%;
}

.bap-sub-header__h1 {
  color: $ampro--purple;
}

.bap-sub-header__h1::after {
  content: " ";
  display: block;
  border: 2px solid #d0d0d0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  width: 10%;
  margin-top: 10px;
}


.bap-sub-header__navigation {
  display:flex;
  justify-content: space-between;
}

.dropdown-content {
  margin-top: -5px;
  padding-top: 5px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  @media only screen and (max-width: 1430px) {
    font-size: .75em;
    margin-top: -7px;
  }
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.subhead_l1 {
  color:black;

  @media only screen and (max-width: 1430px) {
    font-size: .75em;
  }
}

.subhead_l1:hover {
  color: $ampro--red;
}

.dropdown:hover + .dropdown-content {
  display: block;
}

.dropdown-content:hover {
  display: block;
}

.membership-btn {
  border: 1px black solid;
  padding: 5px;
}

#BAP_sub-menu__spacer {
  height: 191.25px;
  display: none;
}