.image-card{
	width: 350px;
	height: 350px;
	border: 1px solid #f1f1f1;
	margin-bottom: 30px;
	perspective: 1000px;
}

.image-card__text{
	position: absolute;
	bottom: 10px;
	left: 10px;
	margin-right: 10px;
	background: rgba(0, 0, 0, 0.75);
	padding: 4px 8px;
	color: white;
}