//
// Calendar Widget
//===========================

.widget_calendar {
  table {
    width: 100%;
  }

  td,
  th {
    text-align: center;
  }
}

.calendar-button{
	text-align: center;
	margin-bottom: 50px;
	
	a{
			color: white;
			text-decoration: none;
	}
		
	button{
		padding: 25px;
		font-size: 1.2em;
	}
}