/* ## Content Cards
--------------------------------------------- */
.content-card__container {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 15px;
	padding: 1.5%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.content-card{
  @media (max-width: 700px) {
		width: 100%;
	}
	position: relative;
	margin: 10px;
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
	border-radius: 4px;

	p{
		padding:7px;
	}

	h3{
		padding: 10px;
		background-color: #5b2b7b;
		color: white;
		border-radius: 4px 4px 0px 0px;
	}
}
