.business-one-half {
  @media (min-width: 1200px) {
    width: 48.717948717948715%;
    float: left;
    margin-left: 2.564102564102564%;
  }
}

.business-first {
  @media (min-width: 1200px) {
    clear: both;
    margin-left: 0;
  }
}
