/* ## Business Content Box
--------------------------------------------- */
.business-content-box {
  color: white;
  background-color: $ampro--purple;

  p {
    padding: 10px;
    margin-bottom: 0px;
  }
}

.business-content-box__icon-box {
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: $ampro--purple;
  display: inline-block;
  margin-bottom: 15px;
  width: 130px;
  color: $ampro--purple;

  i {
    text-decoration: none;
    color: $ampro--purple;
  }

  &:hover{
    background-color: $ampro--purple;
    color: white;

    .business-content-box__icon {
      color: white;
    }

    i {
      color: white;
    }
  }
}

.business-content-box__icon {
  font-size: 1.5em;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.post-1492 {
  padding-bottom: 0px;
}

.business-image-card {
  @media (max-width: 1200px) {
    margin-right: auto;
    margin-left: auto;
  }
}
