/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: $siteFooter--background-color;
	border-top: 1px solid $site-footer--border-color;
	@include rem( font-size, $site-footer--font-size );
	line-height: 1;
	padding: 60px 0;
	text-align: center;
	clear: both;

  .values-text {
	font-size: 1.5em;
	color: $white;
	display: inline;
	text-align: center;
	margin-bottom: 1.2em;
	text-transform: uppercase;
	letter-spacing: .05em;

	@media only screen and (max-width: 1023px){
		display: block;
	}

  }

  a{
	color: $white;
  }
}

.footer-container{
	max-width: 1000px;
	clear: both;
	word-wrap: break-word;
    overflow-wrap: break-word;
	margin: auto;
}


.footer-logo{
	width: 100px;
	padding-right: 2em;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border: none;
}

.footer-links{
	text-align: left;

	a{
		color: #a971ce;
		font-size: 1.75em;
	}

}

.footer-logo-bridge{
	display: block;
	margin-bottom: 2em;
	width: 160px;
	padding-right: 2em;
}

.footer__column-1{
	display: inline-block;
	float: left;
	box-sizing: border-box;

	@media only screen and (min-width: 700px){
		margin-left: 35%;
	}
}

.footer__column-2{
	display: inline-block;
	float: left;
	box-sizing: border-box;

	@media only screen and (min-width: 700px){
		margin-left: 25px;
	}

	a{
		text-decoration: none;
	}

}

.footer-end-text{
	clear: both;
	color: #a971ce;
	font-size: 1.25em;
}
